/* font-family: 'Luckiest Guy', cursive;
font-family: 'Short Stack', cursive; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #060AB2;
  }
  
  .memoryGameDiv {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flipCard {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  } */



/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.mainContainer h1 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 2.5em;
}


.timeh3 {
    text-align: center;
}

.displayResult .hidden {
    display: none;
}

.bodyContainer {
    background-color: #62ddf8;
}

.startGame h3, .startGame p {
    font-family: 'Luckiest Guy', cursive;
}

.startGame button, .displayResult button {
    font-family: 'Short Stack', cursive;
    font-size: 2em;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}


.memoryGameDiv {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(4, 199px);
    grid-gap: 1rem;
    perspective: 800px;
}

.memory-card {
    display: flex;
  justify-content: center;
  align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}

.back-face {
    backface-visibility: hidden;
    cursor: pointer;
}

.front-face {
    transform: rotateY(180deg);
}

.flipCard {
    transform: rotateY(180deg);
    
} */


/* .mainContainer {
    text-align: center;
}

.mainContainer h1 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 2.5em;
}



.displayResult .hidden {
    display: none;
}

.bodyContainer {
    background-color: #62ddf8;
}

.startGame h3, .startGame p {
    font-family: 'Luckiest Guy', cursive;
}

.startGame button, .displayResult button {
    font-family: 'Short Stack', cursive;
    font-size: 2em;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.mainDiv {
    max-width: 1200px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.memoryGameDiv {
    display: none;
}

.memoryGameDiv {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  grid-gap: 1em;
  transform-style: preserve-3d;
    
    perspective: 1000px;
}

.countDownSpan {
    grid-column: 1/5;
}

.memory-card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card {
    height: 199px;
    width: 300px;
}

.memory-card img {
    display: flex;
    justify-content: center;
    width: 100%;
}

.memory-card {  
    display: block;
    margin: 0 auto;
    width: 80%;
}

.front-face, .back-face {
    position: absolute;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.flipCard {
    transform: rotateY(180deg);
}

.back-face {
    cursor: pointer;
}

.finalFooter {
    font-family: 'Luckiest Guy', cursive;
    background-color: #0b8345;
    padding: 1em;
    border-radius: 5px;
    color: white;
}

.finalFooter a {
    color: white;
}

.finalFooter a:hover {
    color: black;
} */

body {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #060AB2;
  }

.mainContainer h1 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 2.5em;
}


.bodyContainer {
    background-color: #62ddf8;
    
}

/* .mainContainer {
    max-width: 1200px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
} */

/* .divWrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
} */

.memoryGameDiv {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .70em;
    transform-style: preserve-3d;
    margin: 1em;
    perspective: 1000px;
}


/* .memory-card {  
    display: block;
    margin: 0 auto;
    width: 80%;
} */
.memory-card {
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card {
    max-height: 199px;
    max-width: 300px;
}

img.front-face, img.back-face {
    width: 100%;
    max-width: 300px;
    height: auto;
    /* display: block;
    justify-content: center;
    width: 100%; */
}

.timeh3 {
    text-align: center;
    font-family: 'Short Stack', cursive;
}

.front-face, .back-face {
    position: absolute;
    backface-visibility: hidden;
}


.front-face {
    transform: rotateY(180deg);
}

.flipCard {
    transform: rotateY(180deg);
}

.back-face {
    cursor: pointer;
}

.startGame{
    text-align: center;
    padding: 2em;
}

.displayResult {
    text-align: center;
}

.startGame h3, .startGame p {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5em;
}

.startGame button, .displayResult button {
    font-family: 'Short Stack', cursive;
    font-size: 2em;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.displayResult h2, .displayResult h3 {
    font-family: 'Short Stack', cursive;
    padding: .2em;
}

.finalFooter {
    font-family: 'Luckiest Guy', cursive;
    background-color: #0b8345;
    padding: 1em;
    border-radius: 5px;
    color: white;
}

.finalFooter a {
    color: white;
}

.finalFooter a:hover {
    color: black;
}


@media only screen and (max-width: 800px) {
    .memoryGameDiv {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        perspective: 800px;
    }

    
}

@media only screen and (max-width: 400px) {
    .memoryGameDiv {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        perspective: 800px;
    }

    
}


/* @media only screen and (max-width: 800px) {
    .memoryGameDiv {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(10, 199px);
        grid-gap: 1rem;
        perspective: 800px;
    }

    
}

@media only screen and (max-width: 400px) {
    .memoryGameDiv {
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(10, 199px);
        grid-gap: 1rem;
        perspective: 800px;
    }

    
} */
