/* font-family: 'Luckiest Guy', cursive;
font-family: 'Short Stack', cursive; */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainContainer h1 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 2.5em;
}


.bodyContainer {
    background-color: #62ddf8;
}

.mainContainer {
    max-width: 1200px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .70em;
}

.cards img {
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.finalFooter {
    font-family: 'Luckiest Guy', cursive;
    background-color: #0b8345;
    padding: 1em;
    border-radius: 5px;
    color: white;
}

.finalFooter a {
    color: white;
}

.finalFooter a:hover {
    color: black;
}