body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #D7EAE1;
}


.main_index h1 { 
    font-family: "Comfortaa", Lato, sans-serif;
    font-size: 40pt;
    margin: 20px;
    padding: 20px;
    background-color: #3F785E;
    /* background-color: #D3614A; */
    border-radius: 5px;
    color: white;
}

.main_index ol {
    font-family: "Rubik", serif;
    padding: 10px 0px 10px 50px;
    margin: 10px 20px 10px 20px;
}

.main_index ol li {
    font-size: 16pt;
    
}

.main_index ol li a {
    color: #2E4861;
}

.main_index ol li a:hover {
    color: #356087;
}

footer {
    font-family: "Comfortaa", Lato, sans-serif;
    text-align: center;
    margin: 20px;
    font-size: 18pt;
    color: white;
    padding: 20px;
    background-color: #498e6f;
    border-radius: 5px;
}

/* .main_footer_div {
    background-color: #D3614A;
    border: 5px;
}

.note_footer_div {
    background-color: #3F785E;
    border: 5px;
} */

footer a {
    color: white;  
}

footer a:hover {
    color: #D3614A;  
}
/*----- Week 1 -----*/
.week1 h1 {
    font-family: "Comfortaa", Lato, sans-serif;
    background-color: #3F785E;
    font-size: 30pt;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

.week1 h2 {
    font-family: "Comfortaa", Lato, sans-serif;
    font-size: 20pt;
    margin: 10px 10px 10px 50px;
}

.week1 ul {
    font-family: "Rubik", serif;
    margin: 5px 20px 5px 30px;
    padding: 5px 0px 5px 50px;
}

.week1 ul li {
    font-size: 16pt;
    padding: 5px 0px;
}

.week1 .exercise_anchor {
    color: #2E4861;
}

.week1 .exercise_anchor:hover {
    color: #356087;
}

/*----- Week 2 -----*/
.week2 h1 {
    font-family: "Comfortaa", Lato, sans-serif;
    background-color: #3F785E;
    font-size: 30pt;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

.week2 h2 {
    font-family: "Comfortaa", Lato, sans-serif;
    font-size: 20pt;
    margin: 10px 10px 10px 50px;
}

.week2 h3 {
    font-family: "Comfortaa", Lato, sans-serif;
    font-size: 15pt;
    margin: 10px 10px 10px 50px;
    text-decoration: underline;
}

.week2 ul {
    font-family: "Rubik", serif;
    margin: 5px 20px 5px 30px;
    padding: 5px 0px 5px 50px;
}

.week2 ul li {
    font-size: 16pt;
    padding: 5px 0px;
}

.week2 .exercise_anchor {
    color: #2E4861;
}

.week2 .exercise_anchor:hover {
    color: #356087;
}

/*----- Week 3 -----*/
.week3 h1 {
    font-family: "Comfortaa", Lato, sans-serif;
    background-color: #3F785E;
    font-size: 30pt;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

.week3 h2 {
    font-family: "Comfortaa", Lato, sans-serif;
    font-size: 20pt;
    margin: 10px 10px 10px 50px;
}

.week3 h3 {
    font-family: "Comfortaa", Lato, sans-serif;
    font-size: 15pt;
    margin: 10px 10px 10px 50px;
    text-decoration: underline;
}

.week3 ul {
    font-family: "Rubik", serif;
    margin: 5px 20px 5px 30px;
    padding: 5px 0px 5px 50px;
}

.week3 ul li {
    font-size: 16pt;
    padding: 5px 0px;
}

.week3 .exercise_anchor {
    color: #2E4861;
}

.week3 .exercise_anchor:hover {
    color: #356087;
}

@media only screen and (max-width: 600px) {
    .main_index h1 { 
        font-size: 20pt;
    }
    
    .main_index ol li {
        font-size: 14pt;
        
    }

    footer {
        font-size: 14pt;
    }

    .week1 h1 {
        font-size: 20pt;
    }
    
    .week1 h2 {
        font-size: 18pt;
    }
    
    .week1 ul li {
        font-size: 14pt;
    }

    .week2 h1 {
        font-size: 20pt;
    }
    
    .week2 h2 {
        font-size: 18pt;
    }

    .week2 h3 {
        font-size: 14pt;
    }
    
    .week2 ul li {
        font-size: 14pt;
    }

    .week3 h1 {
        font-size: 20pt;
    }
    
    .week3 h2 {
        font-size: 18pt;
    }

    .week3 h3 {
        font-size: 14pt;
    }
    
    .week3 ul li {
        font-size: 14pt;
    }

    
  }
